*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Playfair Display', serif;
}

.alert-messages-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background-color: white;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  max-height: 30vh;
  width: 30%;
  padding: 5px 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

.alert-messages-div > p {
  font-size: 1.2em;
  color: gray;
  font-weight: 700;
}

.alert-buttons-div {
  margin-top: 30px;
  padding: 10px 0;
}

.alert-message-btn {
  padding: 3px 10px;
  margin: 0 10px;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}

.alert-message-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-section {
  display: flex;
  height: 100%;
}

.main-heading {
  text-align: center;
  padding: 10px;
  background: linear-gradient(#111, #333);
  color: white;
  text-shadow: 0 4px 1px rgba(150, 0, 0), 0 10px 50px rgba(255, 0, 0);
}

.left-pane-div {
  color: #fff;
  width: 20%;
  background-color: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
}

.right-pane-div {
  position: relative;
  width: 80%;
  background-color: lightgrey;
}

.outer-list-items {
  border-bottom: 1px solid #333;
}

.outer-list-items > span {
  /* color: #fff; */
  font-size: 1.3em;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  position: relative;
}

.outer-list-items:hover > span {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.outer-active {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: cyan;
  border-left: 2px solid cyan;
}

.outer-list-items > span > i {
  position: absolute;
  right: 20px;
  transform: translateY(25%);
  transition: 0.3s all ease-in-out;
}

.inner-item-list {
  display: none;
  padding-left: 50px;
  transition: 1s all ease-in-out;
}

.appear {
  display: block;
}

.selected {
  transform: translateY(25%) rotate(-180deg) !important;
}

.inner-list-items {
  font-size: 1em;
  width: 100%;
  padding: 5px 0 5px 10px;
  list-style-type: none;
}

.inner-list-items:hover {
  background-color: #111;
  cursor: pointer;
}

.inner-list-items-active {
  background-color: #111;
  color: cyan;
  border-left: 2px solid cyan;
}

.category-btns {
  position: absolute;
  left: 0;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-category-btn,
.edit-delete-category-div > button {
  width: 100%;
  border: 1px solid #444;
  font-size: 1.2em;
  color: white;
  background: linear-gradient(#555, #333);
  padding: 5px;
  font-weight: 700;
  outline: none;
}

.edit-delete-category-div {
  display: none;
  justify-content: space-between;
  margin-top: 3px;
}

.edit-delete-category-div > button {
  font-size: 0.9em;
}

.new-category-btn:hover,
.edit-delete-category-div > button:hover {
  cursor: pointer;
  color: cyan;
}

.category-form-div {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: 0.5s all ease-in-out;
}

.category-form {
  background-color: lightgray;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-form-btn {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 5px;
  font-weight: bold;
  color: gray;
}

.close-form-btn:hover {
  cursor: pointer;
  color: red;
}

input {
  padding: 10px 20px;
  border: none;
  margin: 10px 0;
  outline: none;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #5cb85c;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.create-task-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 1.2em;
  background: #5cb85c;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.right-pane-upper-section {
  height: 100%;
  position: relative;
}

.inner-right-section-div {
  display: none;
}

.category-heading {
  text-align: center;
  font-size: 2em;
  padding: 15px 0;
  text-decoration: underline;
}

.category-tasks-div {
  padding: 0 100px;
}

.tasks-list {
  max-height: 60vh;
  height: 60vh;
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff;
  color: #fff;
  list-style-type: none;
  padding: 20px 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3) inset;
}

.tasks-list::-webkit-scrollbar {
  width: 5px;
  background-color: gray;
}

.tasks-list::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: white;
  border-radius: 3px;
}

.task-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

.task-list-item:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.task-list-item:not(:last-child) {
  margin-bottom: 5px;
}

.note-par {
  padding: 10px;
  text-align: center;
}

.high,
.cancel-button {
  background-color: #df4759;
}

.low,
.ok-button {
  background-color: #467fd0;
}

.medium {
  background-color: #42ba96;
}

.no-category-selected {
  font-size: 40px;
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: block;
}

.create-task-btn:hover {
  cursor: pointer;
  background: linear-gradient(#555, #333);
}

.task-details-section {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.back-btn,
.edit-task,
.delete-task {
  width: 20%;
  padding: 10px 0;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2em;
  margin: 5px 0 0 5px;
  border-radius: 3px;
  transition: 0.3s all ease-in-out;
  font-weight: 700;
}

.back-btn {
  background: linear-gradient(blue, black);
}

.edit-task {
  background: linear-gradient(green, black);
}

.delete-task {
  background: linear-gradient(red, black);
}

.back-btn:hover,
.edit-task:hover,
.delete-task:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.task-details-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 60%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  padding: 10px 20px;
}

.task-heading {
  font-size: 2.5em;
}

.task-description {
  color: gray;
  line-height: 1.5em;
}

.task-date,
.task-category-name,
.task-priority {
  font-weight: 700;
}

.task-details-btns-div {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
